# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# baseline
detectron2/
faster_rcnn/
mission/
mmdetection/
requirements.txt

#dataset
dataset/test/
dataset/train/

# work_dirs
work_dirs/**
!listup/

# Pytorch
*.pth
*.py~
*.sh~
*.ipynb_checkpoints

#wandb & mmcv
wandb/