# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# baseline
dataset/
detectron2/
faster_rcnn/
mission/
mmdetection/
requirements.txt

# tmp
work_dirs/

# Pytorch
*.pth
*.py~
*.sh~
*.ipynb_checkpoints

#wandb & mmcv
*.log
*.log.json